.img1 {
  width: 105px;
  position: absolute;
  top: 125px;
  right: 50%;
  animation: moveImage 5s linear infinite;
  
}

.AllHome{
  position: relative;
  z-index: 0;
}


@keyframes moveImage {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(40px); 
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}



.img2 {
  width: 105px;
  position: absolute;
  top: 125px;
  right: 20%;
  animation: moveImage2 6s linear infinite;
  z-index: 0;
}

@keyframes moveImage2 {
  0% {
    transform: translateY(40px); 
  }
  25% {
    transform: translateY(15px); 
  }
  50% {
    transform: translateY(0px); 
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(40px);
  }
}




.img3 {
  width: 105px;
  position: absolute;
  top: 145px;
  right: 70%;
  animation: moveImage3 10s linear infinite;
  z-index: 0;
}

@keyframes moveImage3 {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


.img4 {
  width: 105px;
  position: absolute;
  top: 125px;
  left: 10%;
  animation: moveImage4 13s linear infinite;
  z-index:0;
}

@keyframes moveImage4 {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(40px); 
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}




.img5 {
  width: 105px;
  position: absolute;
  top: 90px;
  z-index: 0;
  right: 40%;
  animation: moveImage5 20s linear infinite;
}

@keyframes moveImage5 {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(55px); 
  }
  75% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}


.textHead {
  font-size: 35px;
  color: rgb(80, 65, 65);
  font-weight: bold;
  text-align: center;
  margin-top: 65px;
  text-shadow: 2px 2px 8px #fffac9;
  font-family: 'Cairo', sans-serif;
  animation: fadeInDown 1.5s ease-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
